# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Databases
*.json
*.db
*.sqlite
*.old_json

# Environments
.env
venv/
.venv/
env/
ENV/

# ML Models
*.pt


# Runtime generated face vector database
face_embeddings.index
face_mapping.json
